<ssp-sample-page [readmeImport]="readmeImport">
  <section class="enhance-material-components-sample">
    <div class="example-table-container">
      <table
        mat-table
        sspGithubIssuesTable
        [paginator]="paginator"
        matSort
        matSortActive="created"
        matSortDisableClear
        matSortDirection="desc"
      >
        <!-- Number Column -->
        <ng-container matColumnDef="number">
          <th mat-header-cell *matHeaderCellDef>#</th>
          <td mat-cell *matCellDef="let row">{{ row.number }}</td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
          <th mat-header-cell *matHeaderCellDef>Title</th>
          <td mat-cell *matCellDef="let row">{{ row.title }}</td>
        </ng-container>

        <!-- State Column -->
        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>State</th>
          <td mat-cell *matCellDef="let row">{{ row.state }}</td>
        </ng-container>

        <!-- Created Column -->
        <ng-container matColumnDef="created">
          <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>Created</th>
          <td mat-cell *matCellDef="let row">{{ row.created_at | date }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>

    <mat-paginator #paginator pageSize="30" aria-label="Select page of GitHub search results"></mat-paginator>

    <ng-container *ngIf="getRepoIssuesMetadata$ | async as getRepoIssuesMetadata">
      <div
        class="example-loading-shade"
        *ngIf="getRepoIssuesMetadata.isLoading || getRepoIssuesMetadata.isRateLimitReached"
      >
        <mat-spinner *ngIf="getRepoIssuesMetadata.isLoading"></mat-spinner>
        <div class="example-rate-limit-reached" *ngIf="getRepoIssuesMetadata.isRateLimitReached">
          GitHub's API rate limit has been reached. It will be reset in one minute.
        </div>
      </div>
    </ng-container>
  </section>
</ssp-sample-page>
