<lib-sample-page [readmeImport]="readmeImport">
  <section class="user-roles-sample">
    <mat-slide-toggle color="primary" [checked]="isUserReadonly" (change)="userRoleChanged()">
      Client Readonly
    </mat-slide-toggle>

    <button disableIfViewer mat-button mat-raised-button color="primary">Click me!</button>

    <mat-select disableIfViewer placeholder="Settings">
      <mat-option value="'setting1'">Setting 1</mat-option>
      <mat-option value="'setting2'">Setting 2</mat-option>
    </mat-select>

    <mat-list *ifNotViewer role="list">
      <mat-list-item role="listitem">Setting 1</mat-list-item>
      <mat-list-item role="listitem">Setting 2</mat-list-item>
    </mat-list>
  </section>
</lib-sample-page>
