:host {
  height: 100%;
}

mat-form-field {
  width: 100%;
}

.sample-provider {
  &__readme {
    margin-bottom: 4rem;
    display: block;
  }

  &__examples {
    article {
      &:not(:last-of-type) {
        margin-bottom: 2rem;
      }
    }
  }

  &__buttons {
    display: flex;
    gap: 1rem;
  }
}
