<lib-sample-page [readmeImport]="readmeImport">
  <article>
    <h4>Window Provider</h4>
    <button mat-raised-button (click)="displayWindowHistoryState()">Display Window History State</button>
    <p>{{ windowHistoryState | json }}</p>
  </article>

  <article>
    <h4>Location Provider</h4>
    <button mat-raised-button (click)="reload()">Reload</button>
  </article>

  <article>
    <h4>Local Storage Provider</h4>
    <div>
      <p>Current local storage value: {{ localStorageSavedValue }}</p>
      <mat-form-field appearance="fill">
        <mat-label>Local storage value</mat-label>
        <input #localStorageValue matInput placeholder="Write new local storage value" />
      </mat-form-field>
      <div class="sample-provider__buttons">
        <button mat-raised-button (click)="loadLocalStorage()">Read</button>
        <button mat-raised-button (click)="writeToLocalStorage()">Write</button>
      </div>
    </div>
  </article>
</lib-sample-page>
