.options,
.childs {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.childs {
  justify-self: flex-end;
}

.options {
  margin-bottom: 0.5rem;
}

.detecting {
  border-color: red !important;
}
