.component-form {
  display: flex;
  gap: 1rem;
  align-items: center;
  margin-bottom: 2rem;
}

.dynamic-component-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.demo-description {
  margin-bottom: 2rem;
}
