:host {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

header {
  mat-toolbar {
    ::ng-deep .sandbox-header-button {
      width: auto;
      margin-left: 1rem;
      border-radius: 0.25rem;
    }

    .sandbox-header-spacer {
      flex: 1;
    }
  }
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}
