<article>
  <h2>Use template function</h2>
  <ol>
    <li *ngFor="let item of getItems()">
      {{ item }}
    </li>
  </ol>
</article>
<section class="options">
  <button (click)="doNothing()">Do Nothing</button>
  <button (click)="changeDataSource()">Change Data Source</button>
</section>
<section class="childs">
  <ssp-child-element name="Child 1 - template function"></ssp-child-element>
  <ssp-child-element name="Child 2 - template function"></ssp-child-element>
</section>
<span>{{ visualizeChangeDetectionRan() }}</span>
