<form *ngIf="form" class="amsf-form" [formGroup]="form">
  <mat-form-field appearance="fill">
    <mat-label>First Name</mat-label>
    <input
      autocomplete="on"
      matInput
      maxlength="20"
      minlength="2"
      [errorStateMatcher]="matcher"
      [formControl]="firstNameFormControl"
    />
    <mat-error *ngIf="firstNameFormControl.hasError('required')"> First Name is <strong>required</strong> </mat-error>
    <mat-error *ngIf="firstNameFormControl.hasError('minlength')">
      First Name needs to have at least <strong>2 characters</strong>
    </mat-error>
    <mat-error *ngIf="firstNameFormControl.hasError('maxlength')">
      First Name needs to have max <strong>20 characters</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Last Name</mat-label>
    <input
      autocomplete="on"
      matInput
      maxlength="30"
      minlength="2"
      [errorStateMatcher]="matcher"
      [formControl]="lastNameFormControl"
    />
    <mat-error *ngIf="lastNameFormControl.hasError('required')"> Last Name is <strong>required</strong> </mat-error>
    <mat-error *ngIf="lastNameFormControl.hasError('minlength')">
      Last Name needs to have at least <strong>2 characters</strong>
    </mat-error>
    <mat-error *ngIf="lastNameFormControl.hasError('maxlength')">
      Last Name needs to have max <strong>30 characters</strong>
    </mat-error>
  </mat-form-field>
  <div class="amsf-form__actions amsf-form__actions--flex-end">
    <button color="primary" mat-raised-button type="button" [disabled]="form.invalid" (click)="next()">Next</button>
  </div>
</form>
