<section class="change-detection-examples">
  <ssp-element-with-template-function
    class="example"
  ></ssp-element-with-template-function>
  <ssp-element-with-getter class="example"></ssp-element-with-getter>
  <ssp-element-with-pipe class="example"></ssp-element-with-pipe>
  <ssp-element-with-async-pipe class="example"></ssp-element-with-async-pipe>
  <ssp-element-with-default-cd-strategy
    class="example"
  ></ssp-element-with-default-cd-strategy>
  <button (click)="doNothing()">Do Nothing Parent</button>
</section>
<span>{{ visualizeChangeDetectionRan() }}</span>
