:host {
  display: block;
}

.change-detection-examples {
  display: grid;
  column-gap: 1rem;
  padding: 1rem;
  border-color: orange;
  border-style: dashed;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;

  .example {
    background-color: #eeeeee;
    border-radius: 0.25rem;
    border-color: greenyellow;
    border-style: dashed;
    padding: 1rem;
  }
}